.vsconfig
.vscode/
.vs/
*.apk         	
Library/
Temp/
Logs/
*.csproj
*.sln
UserSettings/Layouts
projects.dat
Assets/AddressableAssetsData/Android/addressables_content_state.bin
Assets/AddressableAssetsData/Android/addressables_content_state.bin.meta
/obj/
Build/
fps.obconfig
fps.obconfig.meta
*.bak
*.bak.meta
